@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin-top: 4rem;
  position: relative;

  @include respond(tab-port) {
    height: 50vh;
    flex-direction: column;
  }

  @include respond(phone) {
    height: 70vh;
    flex-direction: column;
  }

  &__content {
    background-image: linear-gradient(
        to left bottom,
        rgba($color-primary-blue, 1),
        rgba($color-primary-blue-3, 0.8)
      ),
      url("../../images/travel/travel-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 0 6rem;

    @include respond(phone) {
      padding: 6rem;
    }

    h1 {
      font-size: 10rem;
      text-transform: uppercase;
      letter-spacing: 1rem;
      color: #f2f2f2;

      @include respond(tab-port) {
        font-size: 7rem;
      }

      @include respond(phone) {
        font-size: 8rem;
      }
    }

    p {
      font-size: 4rem;
      margin: 9rem 0;
      line-height: 6rem;
      color: #f2f2f2;
    }
  }

  &__button {
    width: 70%;

    padding: 1rem;
    position: relative;
    z-index: 0;

    @include respond(phone) {
      width: 100%;
    }

    a {
      &:link,
      &:visited {
        display: inline-block;
        width: 50%;
        margin: auto;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        padding: 4rem;
        border-radius: 4px;
        background-color: $color-primary-blue-3;
        letter-spacing: 1.5rem;
        position: relative;

        @include respond(phone) {
          width: 100%;
        }
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-primary-blue-3;
        z-index: -1;
        border-radius: 4px;
        transition: all 0.5s;
      }
      &:hover::after {
        opacity: 0;
        cursor: pointer;
        transform: scale(1.4);
      }
    }
  }

  &__map {
    flex: 1;
    overflow: hidden;
    border-radius: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 70%;
    // display: block;
    margin: 3rem auto;
    // border: 1px solid red;
  }
}
