@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 80vh;
  margin-top: 4rem;
  position: relative;

  @include respond(tab-port) {
    height: 50vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  @include respond(phone) {
    height: 80vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  &__content {
    background-image: -webkit-gradient(
        linear,
        right top,
        left bottom,
        from(rgba($color-primary-blue, 1)),
        to(rgba($color-primary-blue-3, 0.8))
      ),
      url("../../images/travel/travel-1.jpg");
    background-image: -o-linear-gradient(
        right top,
        rgba($color-primary-blue, 1),
        rgba($color-primary-blue-3, 0.8)
      ),
      url("../../images/travel/travel-1.jpg");
    background-image: linear-gradient(
        to left bottom,
        rgba($color-primary-blue, 1),
        rgba($color-primary-blue-3, 0.8)
      ),
      url("../../images/travel/travel-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 6rem;
    text-align: center;
    -webkit-border-bottom-left-radius: 20%;
    border-bottom-left-radius: 20%;
    -webkit-border-bottom-right-radius: 20%;
    border-bottom-right-radius: 20%;

    @include respond(tab-port) {
      -webkit-border-bottom-left-radius: 10%;
      border-bottom-left-radius: 10%;
      -webkit-border-bottom-right-radius: 10%;
      border-bottom-right-radius: 10%;
    }

    @include respond(phone) {
      padding: 6rem;
      -webkit-border-bottom-left-radius: 0;
      border-bottom-left-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    h1 {
      font-size: 9rem;
      text-transform: uppercase;
      letter-spacing: 1rem;
      color: #f2f2f2;

      @include respond(tab-port) {
        font-size: 4.5rem;
      }

      @include respond(phone) {
        font-size: 8rem;
      }
    }

    p {
      font-size: 4rem;
      margin: 7rem 0;
      line-height: 6rem;
      color: #f2f2f2;

      @include respond(tab-port) {
        font-size: 3.5rem;
      }
    }
  }

  &__button {
    width: 100%;
    padding: 1rem;
    position: relative;
    z-index: 0;

    @include respond(tab-port) {
      padding: 0.5rem;
    }

    @include respond(phone) {
      width: 100%;
    }

    a {
      &:link,
      &:visited {
        display: inline-block;
        width: 30%;
        margin: auto;
        font-weight: 700;
        color: $color-main-blue;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        padding: 4rem;
        -webkit-border-radius: 20rem;
        border-radius: 20rem;
        background-color: $color-white;
        letter-spacing: 1.5rem;
        position: relative;

        @include respond(tab-port) {
          width: 50%;
        }

        @include respond(phone) {
          width: 100%;
        }
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-white;
        z-index: -1;
        -webkit-border-radius: 20rem;
        border-radius: 20rem;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        -webkit-box-shadow: 0 0.5rem 5rem rgba(#000, 0.25);
        box-shadow: 0 0.5rem 5rem rgba(#000, 0.25);
      }
      &:hover::after {
        opacity: 0;
        cursor: pointer;
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
      }
    }
  }
}
