@import "../../styles/variables";
@import "../../styles/mixins";

.places {
  margin: 20rem auto auto auto;
  padding: 10rem;
  overflow: hidden;

  @include respond(tab-port) {
    padding: 5rem;
  }

  @include respond(phone) {
    margin-top: 25rem;
    padding: 5rem;
  }

  &__content {
    overflow: hidden;
    padding: 3rem;

    @include respond(tab-port) {
      padding: 5rem;
    }

    @include respond(phone) {
      padding: 0.5rem;
    }
  }

  &__text {
    color: $color-black;
    font-size: 4rem;
    text-align: center;
    margin: 10rem auto;

    @include respond(phone) {
      font-size: 3rem;
      text-align: center;
      line-height: 4rem;
      margin: 7rem auto;
    }
  }

  &__row {
    display: flex;
    justify-content: space-around;
    border-radius: 5rem;
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    @include respond(phone) {
      flex-direction: column;
    }
  }
}
