@import "../../styles/variables";
@import "../../styles/mixins";

.places {
  //   margin-top: 45rem;
  // max-width: 90%;
  margin: 45rem auto auto auto;
  padding: 10rem;
  background-image: linear-gradient(
    to left bottom,
    rgba($color-primary-blue, 0.8),
    rgba($color-primary-blue-2, 0.8)
  );
  transform: skew(-5deg, -5deg);

  @include respond(tab-port) {
    padding: 5rem;
    transform: skew(0, 0);
  }

  @include respond(phone) {
    margin-top: 25rem;
    padding: 5rem;
    transform: skew(0, 0);
  }

  &__content {
    padding: 3rem;
    transform: skew(5deg, 5deg);

    @include respond(tab-port) {
      padding: 5rem;
      transform: skew(0, 0);
    }

    @include respond(phone) {
      padding: 0.5rem;
      transform: skew(0, 0);
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 12rem;
    background-image: linear-gradient(to left, #fff, #666);
    background-clip: text;
    letter-spacing: 3rem;
    color: transparent;
    text-align: center;
    
    @include respond(phone) {
      font-size: 10rem;
    }
  }

  &__text {
    color: $color-white;
    font-size: 4rem;
    text-align: center;
    margin: 10rem auto;

    @include respond(phone) {
      font-size: 3rem;
      text-align: center;
      line-height: 4rem;
      margin: 7rem auto;
    }
  }

  &__row {
    display: flex;
    justify-content: space-around;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    @include respond(phone) {
      flex-direction: column;
    }
    // border: solid red;
    // flex-wrap: wrap;
  }
}
