@import "../../styles/variables";
@import "../../styles/mixins";

.travel {
  &__form {
    width: 50%;
    margin: 4rem auto;
    padding: 2rem;
    border-radius: 6rem;
    box-shadow: 0 .2rem 2rem rgba(#000, .5);
    background-color: #f2f2f2c4;

    @include respond(phone) {
      width: 80%;
    }

    form {
      @include respond(phone) {
        flex-direction: column;
      }
    }

    &--buttons {
      width: 100%;
      margin: 1rem auto;
      padding: 2rem;
      display: flex;

      @include respond(phone) {
        max-width: 100%;
      }

      button {
        padding: 3rem;
        text-transform: uppercase;
        letter-spacing: 1.5rem;
        border-radius: 10rem;
        border: none;
        display: block;
        width: 30%;
        margin: auto;
        background-color: $color-main-blue;
        color: $color-white;
        cursor: pointer;
        box-shadow: 0 .2rem 1.5rem rgba(#413e3e, .75);
        transition: all 0.3s;

        @include respond(tab-port) {
          width: 80%;
        }

        @include respond(phone) {
          padding: 2rem;
          font-size: 2rem;
          width: 100%;
          margin-right: 1rem;
        }

        &:hover {
          transform: translateY(-1rem);
        }

        &:active {
          transform: translateY(0);
        }
      }
    }
    &--row {
      max-width: 100%;
      flex: 1;
      margin: auto;

      @include respond(phone) {
        margin: 0;
      }
    }

    &--confirmation {
      color: $color-black;
      text-align: center;
      font-size: 4rem;
      letter-spacing: 0.7rem;
      margin: 8rem 0;
    }
  }
}
