/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 20 version
*/

@import "../../styles/variables";
@import "../../styles/mixins";

.user-input {
  max-width: 80%;
  margin: 2rem auto;
  padding: 3rem;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;

  @include respond(tab-port) {
    padding: 2rem;
  }

  @include respond(phone) {
    max-width: 100%;
  }

  input {
    display: block;
    border: none;
    width: 100%;
    margin: auto;
    -webkit-border-radius: 5rem;
    border-radius: 5rem;
    padding: 3rem;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    background-color: #fff;

    &::-webkit-input-placeholder {
      color: $color-black;
    }

    &:focus {
      outline: none;
      border-bottom: 3px solid rgb(35, 189, 21);
    }

    &:-moz-placeholder-shown + label {
      opacity: 0;
      top: 100%;
      left: 7%;
    }

    &:-ms-input-placeholder + label {
      opacity: 0;
      top: 100%;
      left: 7%;
    }

    &:placeholder-shown + label {
      opacity: 0;
      top: 100%;
      left: 7%;
    }

    &:focus:invalid {
      border-bottom: 3px solid red;
    }
  }

  label {
    display: block;
    position: absolute;
    top: 90%;
    left: 9%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 2.5rem;
    opacity: 1;
    color: #666;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    @include respond(tab-port) {
      left: 13%;
    }

    @include respond(phone) {
      top: 92%;
      left: 17%;
    }
  }
}
