@import "../../styles/variables";
@import "../../styles/mixins";

.form__select {
  max-width: 100%;
  margin: auto;

  @include respond(tab-port) {
    max-width: 90%;
  }

  @include respond(phone) {
    max-width: 100%;
  }



  &--format {
    margin-bottom: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include respond(phone) {
      justify-content: space-between;
      padding: 1rem;
    }
  
  }

  label {
    font-size: 3rem;
    margin-right: 1rem;
    color: $color-black;
  }

  select {
    padding: 3rem;
    width: 75%;
    border-radius: 5rem;
    outline: none;
    border: 3px solid transparent;
    &:focus {
      border: 3px solid $color-primary-blue;
    }
  }
}
