/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 20 version
*/

@import "../../styles/variables";
@import "../../styles/mixins";

.form__select {
  max-width: 100%;
  margin: auto;
  padding: 2rem;

  @include respond(tab-port) {
    max-width: 90%;
  }

  @include respond(phone) {
    max-width: 100%;
  }

  &--format {
    margin-bottom: 1rem;
    padding: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    @include respond(phone) {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 1rem;
    }
  }

  label {
    font-size: 3rem;
    margin-right: 1rem;
    color: $color-black;
  }

  select {
    padding: 3rem;
    width: 75%;
    -webkit-border-radius: 5rem;
    border-radius: 5rem;
    outline: none;
    border: 3px solid transparent;
    &:focus {
      border: 3px solid $color-primary-blue;
    }

    @include respond(tab-port) {
      padding: 2rem;
    }

    @include respond(phone) {
      padding: 2rem;
    }
  }
}
