@import "../../styles/variables";

.form__select {
  max-width: 100%;
//   border: 1px solid red;
  margin: auto;

  &--format {
    
    margin-bottom: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  label {
    font-size: 3rem;
    color: #f2f2f2;
  }

  select {
    padding: 3rem;
    width: 75%;
    border-radius: 5rem;
    outline: none;
    border: 3px solid transparent;
    &:focus {
        border: 3px solid $color-primary-blue;
    }
  }
}
