@import "../../styles/variables";
@import "../../styles/mixins";

.excrusion {
  margin: 20rem auto auto auto;
  padding: 10rem;

  @include respond(tab-port) {
    padding: 5rem;
  }

  @include respond(phone) {
    overflow-x: hidden;
    margin: 25rem 0 0 0;
    padding: 5rem;
  }

  &__content {
    padding: 3rem;

    @include respond(tab-port) {
      padding: 5rem;
    }

    @include respond(phone) {
      margin-top: 10rem;
      padding: 1rem;
    }

    &--row {
      display: flex;
      justify-content: space-between;
      margin-top: 15rem;

      @include respond(phone) {
        margin-top: 8rem;
        flex-direction: column;
      }
    }
  }
}
