@import "../../styles/variables";
@import "../../styles/mixins";

.excrusion {
  margin: 35rem auto auto auto;
  padding: 10rem;
  background-color: #b9b7b7;

  @include respond(tab-port) {
    padding: 5rem;
  }

  @include respond(phone) {
    padding: 5rem;
    margin-top: 25rem;
  }

  &__content {
    padding: 3rem;

    @include respond(tab-port) {
      padding: 5rem;
    }

    @include respond(phone) {
      padding: 1rem;
    }

    &--heading {
      text-transform: uppercase;
      font-size: 12rem;
      background-image: linear-gradient(
        to left,
        $color-main-blue,
        $color-main-green
      );
      background-clip: text;
      letter-spacing: 3rem;
      color: transparent;
      text-align: center;

      @include respond(phone) {
        margin-bottom: 6rem;
        font-size: 7rem;
      }
    }

    &--row {
      display: flex;
      justify-content: space-between;
      margin-top: 15rem;

      @include respond(phone) {
        margin-top: 3rem;
        flex-direction: column;
      }
    }
  }
}
