@import "../../styles/variables";
@import "../../styles/mixins";

.navigation {
  max-width: 90%;
  z-index: 100;
  margin: 4rem auto auto auto;

  @include respond(phone) {
    max-width: 100%;
  }

  &__menu {
    &--logo {
      width: 15rem;
      cursor: pointer;
      // border: 1px solid red;
    }

    &--list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      // border: 1px solid red;
      text-align: center;

      @include respond(phone) {
        // opacity: 0;
        // display: none;
        margin-top: -4rem;
        background-color: #f2f2f2;
        position: relative;
        // z-index: -1;
        box-shadow: 0 0.7rem 2rem rgba($color-black, 0.8);
      }

      li {
        display: inline-block;
        // border: 1px solid black;
        position: relative;
        cursor: pointer;

        @include respond(phone) {
          width: 100%;
          display: block;
        }

        &:not(.navigation__menu--logo) {
          padding: 3rem;
        }

        &:not(.navigation__menu--logo)::after {
          content: "";
          position: absolute;
          display: block;
          bottom: 0;
          left: 0;
          right: 0;
          width: 75%;
          margin: auto;
          height: 1rem;
          background-color: $color-primary-blue-2;
          transition: all 0.3s;
          opacity: 0;
        }

        &.navigation__menu--logo {
          order: -1;
          
          @include respond(phone) {
            display: none;
          }
          &-phone {
            display: none;
            @include respond(phone) {
              display: block;
            }
          }
        }

        &:hover::after {
          opacity: 1;
          bottom: 20%;
        }

        a {
          &:link,
          &:visited {
            text-decoration: none;
            color: $color-black;
          }
        }
      }
    }
  }
}

.mobile__menu {
  display: none;

  @include respond(phone) {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
  }

  &--logo {
    width: 15rem;
  }

  &--button {
    // display: block;
    width: 4rem;
    height: 0.5rem;
    // border: 1px solid red;
    position: relative;
    background-color: $color-black;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4rem;
      height: 0.5rem;
      background-color: $color-black;
    }
  }
}
