@import "../../styles/variables";
@import "../../styles/mixins";

.heading {
  &__title {
    text-transform: uppercase;
    font-size: 12rem;
    background-image: linear-gradient(
      to left,
      $color-main-blue,
      $color-main-green
    );
    background-clip: text;
    color: transparent;
    letter-spacing: 3rem;
    // padding-right: -3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include respond(phone) {
      
      font-size: 5.4rem;
    }
  }
}
