@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
  &__social {
    max-width: 50%;
    margin: 6rem auto;
    padding: 5rem;
    text-align: center;

    @include respond(tab-port) {
      max-width: 80%;
      padding: 1rem;
    }

    @include respond(phone) {
      max-width: 80%;
      padding: 1rem;
    }

    &-content {
      h2 {
        font-size: 4rem;
        margin: 6rem 0;
        text-transform: uppercase;
      }
    }
  }

  &__icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;

    &-container {
      text-decoration: none;
      color: $color-black;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 30%;
      -ms-flex: 0 0 30%;
      flex: 0 0 30%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      cursor: pointer;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 2rem 4rem;
      display: block;

      background-color: #f2f2f2;
      -webkit-border-radius: 10rem;
      border-radius: 10rem;
      -webkit-box-shadow: 0 0.2rem 0.75rem rgba(#413e3e, 0.75);
      box-shadow: 0 0.2rem 0.75rem rgba(#413e3e, 0.75);

      @include respond(tab-port) {
        padding: 2rem;
      }

      @include respond(phone) {
        -webkit-border-radius: 4rem;
        border-radius: 4rem;
      }

      h3 {
        font-size: 2.5rem;
        margin-top: 1.5rem;

        @include respond(tab-port) {
          display: none;
        }

        @include respond(phone) {
          display: none;
        }
      }
    }
  }

  &__link {
    text-align: center;
    a {
      &:link,
      &:visited {
        display: inline-block;
        text-decoration: none;
        color: #666;
        font-size: 3rem;

        margin-top: 3rem;
      }
    }
  }

  &__agency {
    div {
      text-align: center;
    }
    @include respond(phone) {
      margin: 8rem;
    }
  }

  &__legal {
    padding: 7rem;
    margin-top: 6rem;
    background-color: #f3f4f6;

    &-container {
      max-width: 95%;
      margin: auto;

      -webkit-border-radius: 15rem;

      border-radius: 40rem;
      padding: 8rem;
      -webkit-box-shadow: 0 0.2rem 0.75rem rgba(#413e3e, 0.75);
      box-shadow: 0 0.2rem 0.75rem rgba(#413e3e, 0.75);

      background-color: $color-white;

      @media only screen and (min-width: 100em) {
        width: 90%;
      }
    }

    &-box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      &-1 {
        @include respond(tab-port) {
          display: none;
        }

        @include respond(phone) {
          display: none;
        }
      }

      &-2 {
        @media only screen and (min-width: 100em) {
          margin-right: 10rem;
        }
        p {
          font-style: italic;
          font-size: 3rem;
          margin: 0 3rem;

          @media only screen and (min-width: 100em) {
            margin-right: 10rem;
            margin-left: -25rem;
          }
        }

        @include respond(tab-port) {
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
        }

        @include respond(phone) {
          display: none;
        }
      }

      &-3 {
        margin-right: 2rem;
        padding-right: 2rem;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: -2rem;
          width: 0.75rem;
          height: 100%;
          -webkit-border-radius: 6rem;
          border-radius: 6rem;
          background-color: #f2f2f2;
          -webkit-box-shadow: 0 1rem 1rem rgba(#666, 0.6);
          box-shadow: 0 1rem 1rem rgba(#666, 0.6);
        }
      }

      &-4 {
        @media only screen and (min-width: 100em) {
          margin-left: -28rem;
        }
        ul {
          list-style: none;
          font-size: 2.5rem;

          li {
            padding: 0.5rem;
          }
        }
      }
    }

    &-content {
      max-width: 70%;
      padding: 5rem;
      margin: 10rem auto;

      display: -webkit-box;

      display: -webkit-flex;

      display: -ms-flexbox;

      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;

      @include respond(tab-port) {
        max-width: 100%;
        padding: 1rem;
      }

      @include respond(phone) {
        max-width: 90%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
      }

      h3 {
        font-size: 3rem;
        margin-bottom: 3rem;
        text-align: center;
      }

      ul {
        list-style: none;

        li {
          text-align: center;
          padding: 1rem;

          a {
            &:link,
            &:visited {
              text-transform: uppercase;
              text-decoration: none;
              color: $color-main-blue;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
