@import "../../styles/variables";
@import "../../styles/mixins";

.destinations {
  margin-top: 20rem;
}

.map {
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    border-radius: 10rem;
    overflow: hidden;
    box-shadow: 0 .2rem 1.5rem rgba(#413e3e, .75);

    @include respond(phone) {
      border-radius: 0;
      overflow: hidden;
      padding: 6rem;
    }

  }
}
