@import "../../styles/variables";
@import "../../styles/mixins";

.map {
  margin-top: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    border-radius: 10rem;
    overflow: hidden;
    box-shadow: 0 1rem 1rem .7rem rgba($color-black, .5);

    @include respond(phone) {
      border-radius: 0;
      overflow: hidden;
      padding: 6rem;
    }

  }
}
