$color-primary-blue: #05386b;
$color-primary-blue-2: #006494;
$color-primary-blue-3: #0090A3;

$color-primary-green-dark: #00B998;
$color-primary-green-light: #84DE7E;
// $color-secondary-green: #8ee4af;

$color-skin: #edf5e1;
$color-white: #fff;
$color-black: #000;


