$color-primary-blue: #05386b;
$color-primary-blue-2: #006494;
$color-primary-blue-3: #0090a3;

$color-primary-green-dark: #00b998;
$color-primary-green-light: #84de7e;

$color-skin: #edf5e1;
$color-white: #fff;
$color-black: #000;

$color-main-blue: #0039d4;
$color-main-green: #17f34e;
